* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --light-primary: #fffcf2;
  --light-secondary: #F7F4EA;
  --dark-primary: #252422;
  --dark-secondary: #403d39;
  --accent: #eb5e28;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--light-secondary);
  color: var(--dark-primary);
}

/* ---------- Headings ---------- */

h1 {
  font-size: clamp(2.2rem, 1.3rem + 3.5vw, 4rem);
  font-weight: 600;
  width: fit-content;
  color: var(--accent);
}

h2 {
  font-size: clamp(1.6rem, 1.1rem + 2vw, 2.4rem);
  font-weight: 500;
  width: fit-content;
}

/* ---------- Text ---------- */
p {
  font-size: clamp(1.05rem, 0.95rem + 0.4vw, 1.25rem);
  font-weight: 500;
  color: var(--dark-primary);
}

a {
  font-size: clamp(0.95rem, 0.9rem + 0.3vw, 1.15rem);
  font-weight: 500;
  color: var(--light-primary);
}


/* ---------- Banner ---------- */

.banner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 1rem 5rem 5rem; 
  color: var(--light-primary);
  background: linear-gradient(
        135deg,
        var(--dark-primary),
        var(--dark-secondary)
    );
}

.banner p {
  color: var(--light-primary);
  width: 60%;
}

/* ---------- Segment ---------- */
.segment {
  padding: 2rem;
}

.segment-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0;
  align-items: center;
}

.segment-grid {
  display: grid;
  margin: 0 auto;
  gap: 2rem;
  max-width: 1200px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(400px, 80%), 1fr)
  );
}

.segment-cell {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: 3px solid var(--dark-primary);
}

.segment-cell-header h2 {
  font-weight: 700;
}

.segment-cell-icon {
  display: flex;
  justify-content: center;
}

.segment-cell-icon img {
  width: 9rem;
  height: 9rem;
}

.segment-cell-link {
  margin-top: auto;
  display: flex;
}

.segment-cell-link a {
  background-color: var(--dark-primary);
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

.segment-cell-link a:hover {
  transform: translateY(-0.2rem);
  background-color: var(--accent);
}

/* ---------- Skills ---------- */

.skill {
  font-weight: 700;
}

/* ---------- Footer ---------- */

footer {
  width: 100%;
  background-color: var(--dark-primary);
  color: var(--light-primary);
  padding: 2rem 1rem;
}

footer a {
  color: var(--accent);
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.2s ease;
}

footer a:hover {
  color: var(--light-primary);
}

.footer-content p {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

@media (max-width: 900px) {

  .banner {
    padding: 2rem;
  }

  .banner p {
    width: 80%;
  }

  .segment-title {
    margin: 2rem 0;
  }

  .segment-grid {
    max-width: 680px;
  }

  .segment-cell-icon img {
    width: 6rem;
    height: 6rem;
  }

  .footer-content p {
    flex-direction: column;
    align-items: center;
  }

}
